.limitreplies_hint {
	margin: 0.5em 0;
	padding: 0.5em 1em;
	/* border-radius: 5px; */
	font-size: 1.2em;
	/* border: 1px solid skyblue; */
	/* background-color: aliceblue; */
}

/* .limitreplies_hint .icon { */
	/* color: dodgerblue; */
/* } */

.limitreplies_lock {
	cursor: not-allowed;
}

a[href*="mode=quote"],
a[href*="mode=reply"] {
	opacity: 0.5;
}
